* {
    font-family: "Federo", sans-serif;
}

html {
    background-color: #f3efe9;
    color: #3a2e2b;

    animation-name: background-colour-transition;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes background-colour-transition {
    from {
        background-color: #3a2e2b;
    }

    5% {
        background-color: currentColor;
    }
    
    to {
        background-color: #f3efe9;
    }
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;

    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: bold;
}

progress {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

.container {
    flex: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

.activity-container {
    display: flex;

    width: inherit;
}

.activity-container > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vocals-activity-emojis {
    display: inline-flex;
    max-width: 30%;
    margin-top: 10px;
    text-align: start;
    overflow-wrap: anywhere;
    opacity: 0;

    animation-name: fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.more-link-container {
    padding: 20px 0px;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 7s;
}

.more-link-container a {
    color: #3a2e2b;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {

    .vocals-activity-emojis {
        max-width: 100%;
    }

    .activity-container > * {
        padding: 0 10px;
    }
}