body {
    margin: 0;
    padding: 0;
}

.guitar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.guitar-main {

}

.guitar-footer {

}