* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #211217;
    color: white;
}

body {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.grid {
    flex-basis: 100%;
    padding: 0 100px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item:hover {
    transform: scale(1.03);
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    body {
        padding: 15vh 0;
    }

    .grid {
        transform: scale(0.9);
        gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .grid {
        transform: scale(0.85);
        gap: 25px;
    }
}

@media only screen and (max-width: 400px) {
    .grid {
        transform: scale(0.7);
        gap: 40px;
    }
}