* {
    font-family: "Barriecito", monospace, system-ui;
}

.activity-emojis {
    display: inline-flex;
    width: 80px;
    text-align: start;
}

html {
    background-color: #2f323f;
    color: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

.guitar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    
    height: 100vh;
}

.guitar-main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 30px;
}

.activity-container {
    display: flex;
}

.activity-container > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guitar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    width: 60vw;
    padding: 0;

    list-style: none;
    font-size: 20px;

    text-decoration: underline;
}

.guitar-list li {
    background-color: #e0e0e0;
    padding: 5px 10px;
}

.guitar-list li:hover {
    font-size: 24px;
    font-weight: bold;
}

.guitar-list li a {
    color: #db4a3d;
}

.progress-label {
    text-align: center;
}

.invisible {
    opacity: 0;
}

.faintly-visible {
    opacity: 0.25;
}

.guitar-activity-emojis {
    display: inline-flex;
    width: 30%;
    overflow-wrap: anywhere;
}

.social-links-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    height: 25px;
}

.touchstone {
    text-align: center;
}

.small {
    font-size: 0.8em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .guitar-list {
        width: 100%;
        justify-content: center;
        row-gap: 3px;
        column-gap: 2px;
        font-size: 17px;
    }

    .guitar-list li:hover {
        font-size: unset;
        font-weight: unset;
    }

    .guitar-activity-emojis {
        width: 100%;
        text-align: start;
    }

    .activity-container > * {
        padding: 0 15px;
        text-align: center;
    }

    .guitar-content {
        font-size: 17px;
    }

    .guitar-main {
        gap: 80px;
    }
}